* {
    margin: 0px;
}

.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%)translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    background-color: transparent;
    z-index: 10000;
    border: 2px solid rgba(255, 0, 0, 0.7);
    height: 40px;
    width: 40px;
    transition: all 1ms00ms ease-out;
}

body:hover .cursor {
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% {
        border-color: rgb(255, 0, 0, 0.7)
    }

    33% {
        border-color: rgb(0, 255, 0, 0.7)
    }

    66% {
        border-color: rgb(0, 0, 255, 0.7)
    }

    100% {
        border-color: rgb(255, 0, 0, 0.7)
    }
}

/* Titre */
header {
    text-align: center;
    margin-bottom: 50px;
    color: cornflowerblue;
    margin-top: 50px;
}

h1 {
    font-size: clamp(2rem, 10vw, 4rem)
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* block noir */
.calculette {
    background: linear-gradient(60deg, rgba(248, 145, 27, 0.623), rgba(75, 57, 241, 0.726));
    text-align: center;
    width: 250px;
    border-radius: 8px;
}

input {
    margin-top: 10px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.445);
    border-color: rgb(81, 149, 209);
    border-radius: 8px;
    color: azure;
    text-align: right;
}

/* boutton 123456789 */
button {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 2ch;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 46%);
    transition:
        transform 0.15s,
        background-color 0.15s;
}

button:active {
    transform: translate(2px, -2px);
    color: rgb(247, 22, 22);
    background-color: rgba(0, 0, 0, 0.151);
}

/* button:hover {
    transform: rotate(360deg);
    background-color: rgba(79, 231, 104, 0.534);
} */

.nombre {
    padding: 10px;
    display: grid;
    justify-items: center;
    gap: 5px;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: 50px 50px 50px 50px 50px;
}